<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

    <%for(let x = 0;x<categories.length;x++){%>
        <%=categories[x]%>
        <%for(let y = 0;y<foods.length;y++){
            if(foods[y].category===categories[x]){%>
            <div class="foodrow">
                <div class="foodimg foodcol"><img src="<%=foods[y].img%>"></div>
                <div class="foodcol">
                <%=foods[y].name%>
                <%if(foods[y].vegetarian){%>
                    <span class="veggie">VEGETARIAN!</span>
                    <%}%><br/>
                <%=foods[y].description%><br/>

                            <form action="/caterco/admin/deleteservice/<%=foods[y]._id%>?_method=delete" method="POST">
                            <button type="submit">Delete Service</button>
                            </form>
                            <form action="/caterco/admin/updateservice/<%=foods[y]._id%>" method="GET">
                            <button type="submit">Update Service</button>
                            </form>
                </div>
            </div>


            <%}%>
        <%}%>
        <hr>
    <%}%>



<%# ADD NEW SERVICE %>
<form action="/caterco/admin/newservice" method="GET">
<button type="submit">Make New Service</button>
</form>

<%# LOGOUT %>
<form action="/caterco/logout" method="POST">
<button type="submit">Logout</button>
</form>


    </body>
</html>