<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

    </head>
    <body class="viewfood">
         <%for(let x = 0;x<categories.length;x++){%>
        <div class="category"><%=categories[x]%></div>
        <%for(let y = 0;y<foods.length;y++){
            if(foods[y].category===categories[x]){%>
            <div class="foodrow">
                <div class="foodcoli"><img class="foodimg" src="<%=foods[y].img%>"></div>
                <div class="foodcol">
                <div class=foodname><%=foods[y].name%></div>
                <%if(foods[y].vegetarian){%>
                    <span class="veggie">VEGETARIAN!</span>
                    <%}%><br/>
                <span class = "fooddesc"><%=foods[y].description%></span><br/>
                </div>
            </div>
            <%}%>
        <%}%>
        <hr>
    <%}%>
    <%- include ../Partials/footer.ejs %>
    </body>
</html>