<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="confirmindvorder">
     <%- include ../Partials/header.ejs %>
    ORDER INFO HERE
<%# This document needs food schema, categories, and the order being edited passed to it %>

    <%# UPDATES ORDER INFO %>
<form id="editOrder" action="/caterco/main/editOrder/<%=order._id%>" method="GET"></form>
<form id="confirmOrder" action="/caterco/main/confirm/thankyou" method="GET"></form>

        <input type="date" data-date-inline-picker="false" class="dateinput" name="thedate" value='<%=order.date%>'><br/>
            <%for(let i = 0; i < categories.length; i++){%>
            
            <%=categories[i]%>
            <%for(let j = 0; j < order.items.length; j++){%>
            <%if(order.items[j].category===categories[i]){%>
            <div class="foodrow">
                    <div class="foodcoli">

                        <img class="foodimg" src="<%=order.items[j].img%>">
                        
                    </div>
                    <div class="foodcol">
                    <p><%=order.items[j].name%> </p>
                    <%if(order.items[j].vegetarian){%>
                    <span class="veggie">VEGETARIAN!</span>
                <%}%><br/>

                <%=order.items[j].description%><br/>

                <input type="hidden" name="id" value="<%=order.items[j].id%>">

                <p><%=order.items[j].quantity%></p>
                
                </div>
            </div>
            <%}%>
        <%}%>
        <hr>
    <%}%>


<button type="submit" class="btn btn-dark" form="editOrder">Edit Order</button>
<br/>
<br/>
<button type="submit" class="btn btn-dark" form="confirmOrder">Confirm Order</button>
    <%- include ../Partials/footer.ejs %>
    </body>
</html>

