<!DOCTYPE html>
<html lang="en">
    <head>
    
        <title></title>
        <meta charset="UTF-8">
    </head>
    <body>
    <div class="foodop">
     <input type="date" data-date-inline-picker="true" />
    <%# FOOD OPTIONS GO HERE %>
    <%# Nested for loops, top one checks category array, second one checks 
    for match, then renders if it matches. category names are at 
    the top of the outer loop, dividers at bottom %>
    <form action="/caterco/main/neworder?_method=POST" method="post">
    <%for(let x = 0;x<categories.length;x++){%>
        <%=categories[x]%>
        <%for(let y = 0;y<foods.length;y++){
            if(foods[y].category==categories[x]){%>
            <div class=foodrow>
                <div class="foodimg foodcol"><img src="<%=foods[y].img%>"></div>
                <div class=foodcol>
                <%=foods[y].name%>
                <%if(foods[y].vegetarian){%>
                    <span class=veggie>VEGETARIAN!</span>
                    <%}%><br/>
                <%=foods[y].description%><br/>
                <input type="hidden" name="id" value="<%=foods[y].id %>"/>
                <input type="number"  name="quantity" id="quantity" >
                </div>
            </div>


            <%}%>
        <%}%>
        <hr>
    <%}%>
   </form>
    
    </div>
    
    </body>
</html>