<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="neworder">
    <%- include ../Partials/header.ejs %>
   
    <div class="foodop">
    <%# FOOD OPTIONS GO HERE %>
    <%# Nested for loops, top one checks category array, second one checks 
    for match, then renders if it matches. category names are at 
    the top of the outer loop, dividers at bottom %>
    <form action="/caterco/main/neworder?_method=POST" method="post">
    <input type="date" data-date-inline-picker="true" class="dateinput" name="date" ><br/>
    <%for(let i = 0; i < categories.length; i++){%>
        <%=categories[i]%>
        <%for(let j = 0; j < foods.length; j++){
            if(foods[j].category===categories[i]){%>
            <div class="foodrow">
                <div class="foodcoli"><img class="foodimg" src="<%=foods[j].img%>"></div>
                <div class="foodcol">
                <%=foods[j].name%>
                <%if(foods[j].vegetarian){%>
                    <span class="veggie">VEGETARIAN!</span>
                    <%}%><br/>
                <%=foods[j].description%><br/>
                <input type="hidden" name="img" value="<%=foods[j].img %>"/>
                <input type="hidden" name="id" value="<%=foods[j].id %>"/>
                <input type="hidden" name="description" value="<%=foods[j].description %>"/>
                <input type="hidden" name="vegetarian" value="<%=foods[j].vegetarian %>"/>
                <input type="hidden" name="category" value="<%=foods[j].category %>"/>
                <input type="hidden" name="name" value="<%=foods[j].name %>"/>
                <input type="number"  name="quantity" id="qty" value="0" min="0">
                </div>
            </div>
            <%}%>
        <%}%>
        <hr>
    <%}%>
    <button type="submit" class="btn btn-dark">Place Order</button>
   </form>
    
    </div>
    <%- include ../Partials/footer.ejs %>
    
    </body>
</html>