<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="editorders">
     <%- include ../Partials/header.ejs %>
    <h1 id="editheader">Edit Your Orders</h1>
    <%if(order.length > 0){%>
<%for(let i=0; i< order.length ; i++){%>
    <a class="list-group-item list-group-item-action" href="/caterco/main/editOrder/<%=order[i]._id%>"><%=order[i].date%></a><br/>
<%}%>

<%} else{%>



    <%# UPDATES ORDER INFO %>

        <input type="date" data-date-inline-picker="false" class="dateinput" name="thedate" value='<%=order.date%>'><br/>
            <%for(let i = 0; i < categories.length; i++){%>

            <%=categories[i]%>
    <%#GOES TO SPECIFIC CATEGORY WITH ORDER ID INFO FOR UPDATING%>

<form id="addMoreFromCategory" action="/caterco/main/editOrder/<%=categories[i]%>/<%=order._id%>" method="GET">

            <button type="Submit" class="btn btn-dark" >Add More <%=categories[i]%></button>
</form>

            <%for(let j = 0; j < order.items.length; j++){%>

            <%if(order.items[j].category===categories[i]){%>
            <div class="foodrow">
                    <div class="foodcoli">

    <%# DELETE FROM ORDER'S ITEM ARRAY %>
<form id="deleteFromOrder" action="/caterco/main/editOrder/<%=order._id%>/<%=order.items[j].id%>?_method=DELETE" method="POST"></form>
                        <img class="foodimg" // undo this comment when src are in the img property // src="<%=order.items[j].img%>"
                        >
                    </div>
                    <div class="foodcol">
                    <p><%=order.items[j].name%>

    </p><button type="submit" form="deleteFromOrder">Delete</button>
                    <%if(order.items[j].vegetarian){%>
                    <span class="veggie">VEGETARIAN!</span>
                <%}%><br/>
                
                <%=order.items[j].description%><br/>

                <input type="hidden" name="id" value="<%=order.items[j].id%>">

    <form id="updateOrder" action="/caterco/main/editOrder/<%=order._id%>?_method=PUT" method="POST">
                <input type="hidden"  name="id"  value="<%=order.items[j]._id%>"/>
                <button type="submit">Update Order</button>
                <input type="number"  name="quantity" value="<%=order.items[j].quantity%>">
    </form>
                </div>
            </div>
            <%}%>
        <%}%>
        <hr>
    <%}%>


<%}%>

    <%- include ../Partials/footer.ejs %>
    </body>
</html>

