<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
 <%- include ../Partials/header.ejs %>
        <%# UPDATE USER INFO %>
    <form action="/caterco/edit?_method=PUT" method="POST">

    Username: <input type="text" name="username" value="<%=user.username%>">

    Password: <input type="password" name="password">

    Payment: <input type="text" name="payment" value="<%=user.payment%>">

    Email: <input type="text" name="email" value="<%=user.email%>">

    <button type="submit">Update Info</button>
    </form>


    <%- include ../Partials/footer.ejs %>
    </body>
</html>